Source: erlang-jiffy
Maintainer: Mathias Ertl <mati@jabber.at>
Section: devel
Priority: optional
Standards-Version: 3.9.4
Homepage: https://github.com/davisp/jiffy
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), erlang-dev (>= 1:13.b.4),
	erlang-eunit, erlang-xmerl, erlang-dialyzer, erlang-proper-dev, dh-rebar
Vcs-Git: https://github.com/jabber-at/erlang-jiffy.git
Vcs-Browser: https://github.com/jabber-at/erlang-jiffy

Package: erlang-jiffy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	erlang-base-hipe | erlang-base | ${erlang-abi:Depends}, ${erlang:Depends},
	erlang-xmerl, erlang-proper
Description: JSON NIFs (Native Implemented Functions) for Erlang
 A JSON parser as a NIF (Native Implemented Functions). This is a complete
 rewrite of the work this was done in EEP0018 that was based on Yajl. This
 new version is a hand crafted state machine that does its best to be as
 quick and efficient as possible while not placing any constraints on the
 parsed JSON.
